<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
</head>

<body>
    <div style="height: 5em">
        <h1 class="text-center">Bienvenido a Esta pagina Web</h1>
    </div>
    <div class="container">
        {% include "personal/includes/carrousel.html" %}
    </div>
    <div style="height: 5em">

    </div>
    <div class="container">
        <div class="row" style="height: 500px">
            <div class="col-6">
                {% include "personal/includes/piegraph.html" %}
            </div>
            <div class="col-6">
                {% include "personal/includes/curvinglinechart.html" %}
            </div>
        </div>


    </div>
    <div style="height: 5em">

    </div>
    <div class="container">
        {% include "personal/includes/fourcards.html" %}
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>

</html>